{{! Main navigation }}
<nav role="navigation" class="main-nav">
    <a href="{{@blog.url}}">Projects</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <span class="icons">
      <a title="github" href="http://github.com/danielpquinn" target="_blank"><i class="fa fa-github"></i></a>
      <a title="twitter" href="http://twitter.com/danielpquinn" target="_blank"><i class="fa fa-twitter"></i></a>
      <a title="dribbble" href="http://dribbble.com/danielpquinn" target="_blank"><i class="fa fa-dribbble"></i></a>
      <a title="linkedin" href="https://www.linkedin.com/in/danpquinn" target="_blank"><i class="fa fa-linkedin"></i></a>
    </span>
</nav>